body {
    background-image:url(img/background.jpg);
}

.photo {
    border: 1px solid #505050;
    border-radius: 50px;
}

#title, .subtitle, .post_title {
    color: #fff


}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #505050;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    color: #fff;
}

.post_image {
    margin-bottom: 15px;
    border-radius: 5px;
}

.mailto {
    color: #fff;
}

.linkedin {
    color: #fff;
}

.github {
    color: #fff;
}